
# Export everything
exportPattern("*")
S3method(fitted,hmm.discnp)
S3method(anova,hmm.discnp)
S3method(predict,hmm.discnp)
S3method(rhmm,hmm.discnp)
S3method(update,hmm.discnp)
S3method(rhmm,default)
importFrom("stats", "runif")
importFrom("stats", "rbinom")
importFrom("stats", "xtabs")
importFrom("stats", "pchisq")
importFrom("stats", "optim")
importFrom("stats", "coef")
importFrom("stats", "rnorm")
importFrom("nnet",multinom)
importFrom("stats", "nlm")
importFrom("stats", "update")
importFrom("stats", "var")
importFrom("stats", "quantile")
importFrom("stats", "optimize")
